@model MAIOCEAN.Models.Especie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Espécie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeEspecie" class="control-label"></label>
                <input asp-for="NomeEspecie" class="form-control" />
                <span asp-validation-for="NomeEspecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoEspecie" class="control-label"></label>
                <input asp-for="DescricaoEspecie" class="form-control" />
                <span asp-validation-for="DescricaoEspecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusEspecie" class="control-label"></label>
                <input asp-for="StatusEspecie" class="form-control" />
                <span asp-validation-for="StatusEspecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
