@model MAIOCEAN.Models.Temperatura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Temperatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTemperatura" />
            <div class="form-group">
                <label asp-for="ValorTemperatura" class="control-label"></label>
                <input asp-for="ValorTemperatura" class="form-control" />
                <span asp-validation-for="ValorTemperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataColeta" class="control-label"></label>
                <input asp-for="DataColeta" class="form-control" />
                <span asp-validation-for="DataColeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfundTemperatura" class="control-label"></label>
                <input asp-for="ProfundTemperatura" class="form-control" />
                <span asp-validation-for="ProfundTemperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatitudeTemp" class="control-label"></label>
                <input asp-for="LatitudeTemp" class="form-control" />
                <span asp-validation-for="LatitudeTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongitudeTemp" class="control-label"></label>
                <input asp-for="LongitudeTemp" class="form-control" />
                <span asp-validation-for="LongitudeTemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
